# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Project Specific
frontend.zip
TEST.API
data/processed/*.npy
data/processed/*.csv

# IDE / General
.DS_Store
.vscode/
.idea/
*.log
